@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url('../img/bg.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Red Rose', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 700px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.tarjeta {
    background: #fff;
    margin: 40px 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
}

/* ------------------------------- */
/* -------- Slide Banner  -------- */
/* ------------------------------- */

.slider_banner {
    overflow: hidden;
    z-index: 1000;
    position: relative;
}
.slider_banner .banner {
    position: relative;
    width: 100%;
}
.slider_banner .banner img {
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}
.slider_banner .flecha-banner {
    font-size: 35px;
    line-height: 35px;
    color: rgba(0,0,0,.2);
    position: absolute;
    top: 50%;
    z-index: 1100;
}
.slider_banner .flecha-banner:hover {
    color: rgba(0,0,0,.5);
}
.slider_banner .anterior {
    left: 20px;
}
.slider_banner .siguiente {
    right: 20px;
}

/* ------------------------------- */
/* -------- Slide Info0  --------- */
/* ------------------------------- */
.slider_info {
    text-align: center;
    overflow: hidden;
    padding: 20px 0;
    z-index: 1000;
    position: relative;
}
/* Section informacion */
.slider_info .informacion {
    width: 100%;
}
.slider_info .informacion article {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider_info .informacion article .slide {
    background: #fff;
    width: 100%;
    left: 100%;
    position: absolute;
    padding: 20px 80px;
}
.slider_info .flecha-info {
    font-size: 35px;
    line-height: 35px;
    color: #e6e6e6;
    position: absolute;
    top: 50%;
    z-index: 1000;
}
.slider_info .flecha-info:hover {
    color: #6ed279;
}
.slider_info .anterior {
    left: 20px;
}
.slider_info .siguiente {
    right: 20px;
}
/* Estilo para Slide de info */
.slider_info .informacion .nombre {
    color: #444;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 16px;
}
.slider_info .informacion .trabajo {
    color: #55acee;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px;
}
.slider_info .informacion .pais {
    color: #8d8d8d;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 16px;
}
.slider_info .informacion .pais img {
    position: relative;
    top: 2px;
    margin-right: 10px;
}
.slider_info .informacion .cv {
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #293e6a;
    padding: 5px 15px;
    color: #293e6a;
    border-radius: 5px;
    height: 100%;
    transition: 500ms all ease-in;
    scale: 1.5;
}
.slider_info .informacion .cv:hover {
    background-image: linear-gradient(to right top, #293e6a, #2d4575, #324b81, #36528c, #3b5998);
    padding: 5px 15px;
    color: #f2f2f2;
    border-radius: 5px;
    scale: 1.5;
    padding: 7.5px 20px;
    box-shadow: 1px 3px 4px rgba(0,0,0,.5);
}
.slider_info .informacion .texto {
    color: #696969;
    font-size: 18px;
    line-height: 1.5rem;
    text-align: justify;
}
.slider_info .informacion .subtitulo {
    color: #444;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 16px;
}
/* Botones slide info */
.slider_info .botones {
    width: 100%;
}
.slider_info .botones span {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    background: #e6e6e6;
}
.slider_info .botones span.active {
    background: #6ed279;
}

/* redes sociales */
.slider_sociales {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.slider_sociales a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 20px;
    padding: 14px 0;
    color: #fff;
    background: #24292e;
    border-radius: 50%;
    margin: 0 10px;
}
.slider_sociales .github {
    background: #24292e;
    transition: 500ms all ease-in;
}
.slider_sociales .github:hover {
    border: 1px solid #1d2125;
    background: none;
    color: #1d2125;
    box-shadow: 1px 3px 4px rgba(0,0,0,.5);
}
.slider_sociales .twitter {
    background: #55acee;
    transition: 500ms all ease-in;
}
.slider_sociales .twitter:hover {
    border: 1px solid #448abe;
    background: none;
    color: #448abe;
    box-shadow: 1px 3px 4px rgba(0,0,0,.5);
}

@media(max-width: 525px) {
    .slider_info .informacion article .slide {
        padding: 20px 35px;
    }
    .anterior {
        left: 5px !important;
    }
    .siguiente {
        right: 5px !important;
    }
    
}